@use 'src/App' as const;

.container {
  max-width: 70vw;
  width: 100%;
  margin: 20px 0;
}

.input {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 6px;
  color: const.$color_text;
  padding: 8px 12px;
  border-radius: 8px;
  border: solid 1px const.$color_primary;
  transition: const.$transition;
  width: 100%;

  &:focus {
    transition: const.$transition;
    box-shadow: const.$box-shadow;
  }

  &:hover {
    transition: const.$transition;
    padding: 7px 11px;
    border-width: 2px;
    box-shadow: const.$box-shadow;
  }

  &Error {
    border: solid 1px const.$color_error;

    &:hover {
      box-shadow: 4px 2px 22px -13px const.$color_error;
    }
  ;
  }
}

.textArea {
  @extend .input;
  resize: none;
  font-size: 1.2rem;
}

.error {
  color: const.$color_error;
  font-size: 1rem;
  font-weight: 500;
}