.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-inline: 10%;
}

.eventCard {
  max-width: 380px;
  width: 80vw;
  border: solid 12px rgb(255, 255, 255);
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .eventDataLocation {
    font-size: 1.5rem;
  }
}