
.about {
  &Department {
    white-space: pre-wrap;
    width: 70vw;
    max-width: 480px;
    text-align: center;
    margin: auto;
  }

  &Member {
    padding: 0.5%;
    max-width: 240px;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}

.leadership {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.memberContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avaImg {
  max-height: 120px;
  height: 20vw;
  border-radius: 180px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.emptyAva {
  max-height: 120px;
  height: 20vw;
}

.fullName {
  padding: 3%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.socLink {
  margin: auto;
}

.coverDelete {
  margin: auto;
}